@charset "UTF-8";
@font-face {
  font-family: 'DSEG7Classic-BoldItalic';
  src: url("font/DSEG7Classic-BoldItalic.woff") format("woff");
}

html {
  -ms-overflow-style: none;
  /* IE, Edge 対応 */
  scrollbar-width: none;
  /* Firefox 対応 */
  overflow: hidden;
}

html::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari 対応 */
}

body {
  margin: 0;
  background-color: black;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.countdown {
  color: red;
  background-color: black;
  font-family: 'DSEG7Classic-BoldItalic';
  font-size: 15vw;
  user-select: none;
  flex-wrap: nowrap;
  transform: translateZ(0);
  /* サブピクセルレンダリング対策 */
  -webkit-font-smoothing: antialiased;
  /* アンチエイリアスの適用 */
}

span {
  display: inline-block;
  height: auto;
}

.hidden_area {
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s;
  left: 0;
  top: 0;
  text-align: center;
}

.hidden_area span {
  color: white;
  padding-top: 12vh;
  font-size: 4vw;
}

.reset_area {
  position: absolute;
  background-color: red;
  width: 32vw;
  height: 100vh;
  left: 0px;
}

.toggle_area {
  position: absolute;
  background-color: lime;
  width: 36vw;
  height: 100vh;
  left: 32vw;
}

.setting_area {
  position: absolute;
  background-color: blue;
  width: 32vw;
  height: 100vh;
  left: 68vw;
}

.setting_window {
  background-color: #b9b9b9;
  position: absolute;
  display: none;
  overflow: auto;
  top: 50vh;
  width: 70vw;
  height: 50vh;
}

h4 {
  display: inline;
}

.setting_content {
  padding-left: 5vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

#set_room_url_txt {
  width: 50%;
}

#qrcode {
  margin-top: 10px;
}
